<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Season Player Editor</title>
        <!-- Add Bootstrap CSS -->
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!--引用 styles.css-->
        <link rel="stylesheet" href="/static/styles.css">

        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
        <!-- Bootstrap Bundle with Popper -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

        <style></style>
    </head>

    <body>
        <div class="container text-center mt-3">
            <a href="/" style="text-decoration: none; color: inherit;">
                <h1>Season Player Editor</h1>
            </a>
        </div>

        <div class="container">

            <div class="row">
                <!-- 使用 Bootstrap 的按鈕樣式 -->
                <div class="container text-center mt-3" id="button-container"></div>
                <!-- 此處將用 JavaScript 動態生成按鈕 -->

                <div class="container" id="allNames">
                    <a href="/names" class="btn btn-primary" id="namesListBtn">顯示所有季打人員</a>
                    <div class="container">
                        <!-- 顯示所有季打名單 -->
                        <table class="table table-striped" id="namesListTable"
                            style="display: none;">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody id="namesListTableBody">
                                <!-- Table body will be dynamically populated here -->
                            </tbody>
                        </table>

                        <!-- <div class="col" id="namesList"></div> -->
                        <!-- 顯示指定星期的名單 -->
                        <div class="col" id="namesListByDay"></div>
                    </div>
                </div>

            </div>

            <div class="row mt-3">
                <!-- 新增新成员的表單 -->
                <form id="addPlayerForm">
                    <label for="name" class="form-label">姓名:</label>
                    <input type="text" id="name" name="name"
                        class="form-control" required>
                    <br>
                    <label for="day" class="form-label">天:</label>
                    <br>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle"
                            type="button" id="day-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            選擇天
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="day-toggle"
                            required>
                            <li><a class="dropdown-item setday" href="#">Monday</a></li>
                            <li><a class="dropdown-item setday" href="#">Tuesday</a></li>
                        </ul>
                    </div>
                    <br>
                    <button id="save" type="button" class="btn btn-primary">儲存</button>
                </form>
            </div>
        </div>

        <!-- 引入外部 JavaScript 文件 -->
        <script>
        // 產生星期鍵
        const days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
        // 按鈕
        const buttonContainer = document.getElementById('button-container');
        days.forEach(day => {
            const button = document.createElement('button');
            button.setAttribute('type', 'button');
            button.setAttribute('class', 'btn btn-outline-primary rounded-pill');
            button.setAttribute('style', 'margin: 10px;');
            button.textContent = day;
            button.addEventListener('click', () => fetchNamesByDay(day.toLowerCase()));
            buttonContainer.appendChild(button);
        });

        // 顯示所有姓名
        // 使用 AJAX 從 /names 路由獲取名字列表
        fetch('/names')
            .then(response => response.json())
            .then(data => {
                const namesListTableBody = document.getElementById('namesListTableBody');
                const names = data.names;

                // 清空表格內容
                namesListTableBody.innerHTML = '';

                // 填充表格行
                names.forEach((name, index) => {
                    const row = document.createElement('tr');

                    // 列數
                    const rowIndex = document.createElement('th');
                    rowIndex.setAttribute('scope', 'row');
                    rowIndex.textContent = index + 1;

                    // 名字
                    const nameCell = document.createElement('td');
                    nameCell.textContent = name;

                    // 刪除按鈕
                    const deleteCell = document.createElement('td');
                    const deleteButton = document.createElement('button');
                    deleteButton.textContent = 'Delete';
                    deleteButton.setAttribute('class', 'btn btn-outline-secondary');
                    deleteButton.addEventListener('click', function(event) {
                        event.preventDefault();

                        const row = event.target.closest('tr');
                        if (row) {
                            const name = row.querySelector('td').textContent;
                            console.log(name);
                            // 向後端發送刪除請求
                            fetch('/deletePlayer',{
                                method: 'POST',
                                body: JSON.stringify({
                                    name: name
                                }),
                                headers: {
                                    'Content-Type': 'application/json'
                                }
                            })
                            .then(response => response.json())
                            .then(data => {
                                if (data.message === "success") {
                                    // 刪除成功的操作，例如從表格中刪除該行
                                    row.remove();
                                    alert("刪除成功")
                                    reloadNamesList();
                                } else {
                                    alert("刪除失敗")
                                }
                            })
                            .catch(error => console.error('Error:', error));
                        }

                    });


                    deleteCell.appendChild(deleteButton);

                    // 在表格行中添加列
                    row.appendChild(rowIndex);
                    row.appendChild(nameCell);
                    row.appendChild(deleteCell);

                    // 將整個表格行添加到表格主體中
                    namesListTableBody.appendChild(row);
                });
            })
            .catch(error => console.error('Error:', error));

        document.getElementById('namesListBtn').addEventListener('click', function(event) {
            event.preventDefault();

            const namesListTable = document.getElementById('namesListTable');
            const namesListBtn = document.getElementById('namesListBtn');

            // 切換顯示/隱藏
            if (namesListTable.style.display === 'none') {
                namesListTable.style.display = 'block';
                namesListBtn.textContent = '隱藏所有季打人員';
            } else {
                namesListTable.style.display = 'none';
                namesListBtn.textContent = '顯示所有季打人員';
            }
        });


        // 顯示指定星期的名單
        function fetchNamesByDay(day) {
            fetch(`/names/${day}`)
                .then(response => response.json())
                .then(data => {
                    const namesList = document.getElementById('namesListByDay');
                    const names = data;

                    // 在網頁上顯示名字列表
                    namesList.innerHTML = `<h4>Names for ${day}</h4>`;
                    names.forEach((name, index) => {
                        const listItem = document.createElement('p');
                        listItem.textContent = `${index + 1}. ${name}`; // 加上編號
                        namesList.appendChild(listItem);
                    });
                })
                .catch(error => console.error('Error:', error));
        }

        // #day-toggle
        let day = '';

        $('.setday').click(function() {
            const selectedDay = $(this).text();
            setDay(selectedDay);
        });

        function setDay(selectedDay) {
            day = selectedDay;
            document.getElementById('day-toggle').textContent = selectedDay;
        }

        // 儲存按鈕
        $("#save").click(function () {
            const name = $("#name").val();
            console.log(name, day);
            // 檢查必填欄位
            if (!name) {
                alert("請輸入姓名")
                return;
            }

            if (!day) {
                alert("請選擇天")
                return;
            }

            fetch(`http://127.0.0.1:8000/write?name=${name}&day=${day}`, {
                method: 'POST',
                body: JSON.stringify({
                    name: $("#name").val(),
                    day: day
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                if (!response.ok) {
                    throw new Error(`Network response was not ok (${response.status})`);
                }
                return response.json();
            }).then(data => {
                if (data.message === "success") {
                    alert("新增成功")
                    reloadNamesList();
                } else {
                    alert("新增失敗")
                }
            }).catch(error => {
                console.error('Error:', error);
            });
        });

        function reloadNamesList() {
            fetch('/names')
            .then(response => response.json())
            .then(data => {
                const namesListTableBody = document.getElementById('namesListTableBody');
                const names = data.names;

                // 清空表格內容
                namesListTableBody.innerHTML = '';

                // 填充表格行
                names.forEach((name, index) => {
                    const row = document.createElement('tr');

                    // 列數
                    const rowIndex = document.createElement('th');
                    rowIndex.setAttribute('scope', 'row');
                    rowIndex.textContent = index + 1;

                    // 名字
                    const nameCell = document.createElement('td');
                    nameCell.textContent = name;

                    // 刪除按鈕
                    const deleteCell = document.createElement('td');
                    const deleteButton = document.createElement('button');
                    deleteButton.textContent = 'Delete';
                    deleteButton.setAttribute('class', 'btn btn-outline-secondary');
                    deleteButton.addEventListener('click', function(event) {
                        event.preventDefault();

                        const row = event.target.closest('tr');
                        if (row) {
                            const name = row.querySelector('td').textContent;
                            console.log(name);
                            // 向後端發送刪除請求
                            fetch('/deletePlayer',{
                                method: 'POST',
                                body: JSON.stringify({
                                    name: name
                                }),
                                headers: {
                                    'Content-Type': 'application/json'
                                }
                            })
                            .then(response => response.json())
                            .then(data => {
                                if (data.message === "success") {
                                    // 刪除成功的操作，例如從表格中刪除該行
                                    row.remove();
                                    alert("刪除成功")
                                    reloadNamesList();
                                } else {
                                    alert("刪除失敗")
                                }
                            })
                            .catch(error => console.error('Error:', error));
                        }

                    });


                    deleteCell.appendChild(deleteButton);

                    // 在表格行中添加列
                    row.appendChild(rowIndex);
                    row.appendChild(nameCell);
                    row.appendChild(deleteCell);

                    // 將整個表格行添加到表格主體中
                    namesListTableBody.appendChild(row);
                });
            })
            .catch(error => console.error('Error:', error));
        }
     
    </script>

        <!-- Add Bootstrap JavaScript and Popper.js -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <footer>
            <div class="container text-center mt-3">
                <p>Powered by <a href="https://www.firebase.com/">Firebase</a></p>
            </div>
        </footer>
    </body>

</html>